:root {
    /* Colors */
    --backgroundColorHeader: #2a2a2a;
    --backgroundColorFooter: #333;
    --colorTextHardGrey:rgb(112, 112, 112);
    --colorTextSoftGrey: #ccc;
    --colorTextSoftBlue: #337ab7;;
    --blue: #0078f2;
    --backgroundButtons: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: sans-serif;
}
 html, body {
    font-size: 62.5%;
    background-color:var(--backgroundColorHeader);  
    overflow: hidden; 
    
} 
.map {
    width: 100vw;
    height: 100vh;
}
li, ul, p {
    display: inline-block;
    list-style: none;
}
.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
    display: none !important;
}

/* section__Tools <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.section__Tools--MenuOpen, .section__Tools--MenuClose {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 29px;
    height: 29px;
    background-color:var(--backgroundButtons);
    z-index: 10;
}
.section__Tools--MenuClose {
    display: none;
}
.section__Tools--MenuOpen:hover, .section__Tools--MenuClose:hover, 
.section__Tools__Projects:hover, .section__Tools__Projects__Type li:hover {
    background-color:var(--colorTextSoftGrey); 
    cursor: pointer;
}

.section__Tools__Container {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 200px;
    height: 92vh;
    background-color: rgba(136, 136, 136, 0.609);
    display: none;
}

.section__Tools__Projects {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 29px;
    height: 29px;
    background-color:var(--backgroundButtons);
    z-index: 10;
}

.projects {
    position: absolute;
    top: 46px;
    left: 40px;  
    display: none; 
    width: 100px;
    background-color:var(--backgroundButtons);
    padding: 2px;
}
.projects input{
    width: 96px;
    display: inline-block;
}
.option {
  font-size: 25px;  
}
/* section__Tools <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* section__Widgets <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.section__Widgets {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px; 
    float:right;  
}
.section__Widgets--User {
    position: absolute;
    top: 0px;
    right: 205px;
    margin-bottom: 5px;
    width: 29px;
    height: 29px;
    border-radius: 4px; 
    background-color:var(--backgroundButtons); 
}
.section__Widgets--User:hover {
    background-color:var(--colorTextSoftGrey); 
    cursor: pointer; 
}

* .section__Widgets--search {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 29px !important;
    margin-bottom: 0px !important;
}
.mapboxgl-ctrl-geocoder--icon-search {
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    height: 29px !important;
    margin-left: 0px !important;
}


.mapboxgl-ctrl-geocoder {
    width: 50px !important;
    max-width: 200px !important;
    min-width: 200px !important;
    max-height: 29px !important;
    min-height: 29px !important;
    padding: 0px 0px 10px 0px!important;
    margin: 0px !important;
} 
.mapboxgl-ctrl-geocoder--input {
    width: 50px !important;
    max-width: 200px !important;
    min-width: 200px !important;
    max-height: 29px !important;
    min-height: 29px !important;
    padding: 0px 0px 0px 30px!important;
}

.mapboxgl-ctrl-geocoder--icon {
    margin:  0px 0px 0px -8px !important;
}
.section__Widgets--cNavigation {
    position: absolute ;
    top: 35px ;
    right: 0px ;
    height: 29px ;
}

.section__Widgets--geo {
    position: absolute ;
    top: 128px ;
    right: 0px ;
    height: 29px ;
}

.section__Widgets--view_2d_3d {
    position: absolute;
    top: 163px;
    right: 0px;
    margin-bottom: 5px;
    width: 29px;
    height: 29px;
    border-radius: 4px; 
    background-color:var(--backgroundButtons); 
}

.section__Widgets--view_2d_3d svg:first-child {
    display: none;
}

.section__Widgets--view_2d_3d:hover {
    background-color:var(--colorTextSoftGrey); 
    cursor: pointer;
}
.section__Widgets--Info {
    position: absolute;
    top: 197px;
    right: 0px;
    margin-bottom: 5px;
    width: 29px;
    height: 29px;
    border-radius: 4px; 
    background-color:var(--backgroundButtons);  
}
.section__Widgets--Info:hover {
    background-color:var(--colorTextSoftGrey); 
    cursor: pointer;
}
.section__Widgets--BackgroundMap {
    position: absolute;
    top: 233px;
    right: 0px;
    margin-bottom: 5px;
    width: 29px;
    height: 29px;
    border-radius: 4px; 
    background-color:var(--backgroundButtons);  
}
.section__Widgets--BackgroundMap:hover {
    background-color:var(--colorTextSoftGrey); 
    cursor: pointer;
}


/* .section__Widgets--BackgroundMap__Options {
    position: absolute;
    top: 233px;
    right: 0px;
    margin-bottom: 5px;
    width: 250px;
    height: 60px;
    border-radius: 4px; 
    background-color:var(--backgroundButtons);  
    font-family: 'Open Sans', sans-serif;
    } */
/* section__Widgets <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* widgetCameraHeight <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.widgetCameraHeight {
    position: absolute;
    bottom: 30px;
    left: 10px;
    width: 70px;
    height: 29px;
    background-color:var(--backgroundButtons); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
}
/* value mapbox-gl.css */
.mapboxgl-ctrl-scale {
    background-color:var(--backgroundButtons)!important; 
    font-size: 1.5rem !important;
    border: none!important;
    padding: 0px!important;
    width: 60px!important;
    margin-left: 10px;
}
/* widgetCameraHeight <<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* section__coordinates <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.widgetCopyCoordinatesB {
    position: absolute;
    bottom: 130px;
    right: 40px;
    width: 155px;
    height: 33px;
    background-color:var(--backgroundButtons); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    padding-left: 8px; 
}
.widgetCopyCoordinates {
    position: absolute;
    bottom: 80px;
    right: 10px;
    width: 215px;
    height: 46px;
    background-color:var(--backgroundButtons); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    padding-left: 8px;
}

.widgetCoordinates {
    position: absolute;
    bottom: 30px;
    right: 10px;
    width: 215px;
    height: 46px;
    background-color:var(--backgroundButtons); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    padding-left: 8px;
}

.chart__Div {
    position: absolute;
    left: 10px;
    bottom: 120px;
    width: 87vw;
    height: 20vh;
    background: rgba(255, 255, 255, 0.6);
    display: none;   
}
.chart__Div__Title {
    width: 87vw;
    height: 30px;
    background: #3887be;
    display: grid;
    justify-items:right;
    align-items: center;
}
.chart__Div__Title_Close {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    justify-items: center;
    align-items: center;
}
.chart__Div__Title_Close span {
    font-size: 40px;
    font-size: 20px;
}
.chart__Div__Title_Close span:hover {
    cursor: pointer;
}

#contextMenu {
    position:absolute;
    width:150px;
    height:160px;
    display:none;
    padding-left: 15px;
    padding-top: 10px;
    color: white;
    background-color: #2a2a2a;
    z-index: 500;
    }
    #contextMenu span {
      cursor:pointer;
    }
    #closeContextualWindow {
      /* width:30px;
      height:30px; */
      /* float: right; */
      padding-right: 10px;
    }
    #closeContextualWindow span{
      /* width:30px;
      height:30px; */
      cursor:pointer;
      background-color: #ff0000;
      float: right;
    }
    #contextMenu a span {
      color: white;
      background-color: #444343;
    }


   /*  Menu contextual jQuery */
    .menuUl{
        list-style: none;
        list-style-type: none;
        list-style-position: outside;
      }
   
      .menuLi{
        line-height: 30px;
        font-size: 16px;
        cursor:pointer;
      }
   
      .menu{
        width:180px;
        position:absolute;      
        border:1px solid black;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;
        background-color: aliceblue;
      } 
      