.message {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: brown;
    /* display: none; */
}
.message_01 {
    display: grid;
    top: 100px;
    align-items: center;
    justify-items: center;
    width: 500px;
    background-color: rgb(69, 42, 165);
}

