.formSignIn {
    display: grid;
    align-items: center;
    justify-items: center;
}
.formSignIn a, .formSignIn input, .formSignIn button {
    margin: 5px;
  }

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}