:root {
  /* Colors */
  --backgroundColorHeader: #2a2a2a;
  --backgroundColorFooter: #333;
  --colorTextHardGrey:rgb(112, 112, 112);
  --colorTextSoftGrey: #ccc;
  --colorTextSoftBlue: #337ab7;;
  --blue: #0078f2;
  --backgroundButtons: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: sans-serif;
}

html, body {
 font-size: 62.5%;
 background-color:var(--backgroundColorHeader);  
 overflow: hidden;     
} 

.map {
 width: 100vw;
 height: 100vh;
}

/* -- section__Tools <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.section__Tools {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--backgroundButtons);  
  border-radius: 5px;
}
.section__Tools:hover {
  background-color: var(--colorTextSoftGrey); 
  cursor: pointer;
}
/* -- section__Tools <<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* -- section__Widgets <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.section__Widgets {
  position: absolute;
  top: 10px;
  right: 10px;
  display: grid;
  grid-template: 40px 40px 40px 40px 40px / 200px 29px ;
  grid-template-areas: ' Search User '
                       ' .      CNavigation  '
                       ' .      Geo  '
                       ' .      View_2d_3d  '
                       ' .      Info  ';
  
  background-color: red; 
}


.section__Widgets--User svg{
  width: 29px;
}

.section__Widgets--Search {
  grid-area: Search;
  
}
.section__Widgets--CNavigation {
  grid-area: CNavigation;
  /* position: absolute;
  top: 30px;
  right: 0px;
  margin-bottom: 5px;
  width: 29px;
  height: 29px;
  border-radius: 2px; 
  background-color:var(--backgroundButtons);  */
}
.section__Widgets--Geo {
  grid-area: Geo;
}

.section__Widgets--View_2d_3d {
  grid-area: View_2d_3d;
}
.section__Widgets--Info {
  grid-area: Info;
}
/* @media screen and (min-width: 640px){
.mapboxgl-ctrl-geocoder--input {
    height: 29px !important;
    padding: 0px !important;
}
} */
/* -- section__Widgets <<<<<<<<<<<<<<<<<<<<<<<<<<<< */