@import "../App.css";

.testButton_01, .testButton_02 {
  position: absolute;
  top:300px;
  right: 5px;
  width: 30px;
  height: 30px;
 
  font-size: 12px;
  padding: 3px;
}
.testButton_02 {
  position: absolute;
  top:335px;
  background-color:var(--colorTextSoftBlue);  
}
